.time-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 7 columns for the 7 days of the week */
    grid-template-rows: repeat(26, 1fr); /* 26 rows for the time slots (8 AM to 8 PM) */
    gap: 0.25rem;
  }

.day {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    gap: 0.25rem;
}

.time-slot {
    border: 1px solid #494545;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.time-slot:hover {
    

    border-color: #BC6464;
}

.cal-activity {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #e4ff6e;
    color: brown;
    border: 1px solid #84943e;
    border-radius: 4px;
    padding: 0.25rem;
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.igrid-col> :nth-child(even) {
    border-top-color: #1B1616;
}