#right-sect {
  margin-left: 20px;
  border-left: 3px solid #A34848;
  height: 100%; 
  overflow: hidden; 
}

#friends-page {
  padding: 20px;
}

.friend-search-bar {
  margin-top: 100px;
  max-width: 800px;
  width: 100%;
  position: fixed;
  top: 20px;
  left: 0px; 
  transform: none; 
  z-index: 1000;
  display: fixed;
  justify-content: center;
  border: none;
  border-radius: 0;
  padding: 10px;
  background-color: transparent;
}

.friends-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
}

.pending-requests {
  flex: 1;
  max-width: 50%;
  min-width: 300px;
  height: 275px; 
  overflow-y: auto;
  transition: all 0.3s ease;
  border: 2px solid #A34848;
  border-radius: 8px;
  padding: 10px;
  background-color: transparent;
  margin-top: 20px;
}

.pending-requests ul {
  display: block;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.pending-requests li {
  background-color: #000000; 
  border: 1px solid #000000; 
  border-radius: 8px; 
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.friend-list {
  flex: 2;
  width: 100%;
  margin-top: 20px;
  min-height: 300px; 
  padding-bottom: 20px; 
  box-sizing: border-box;
  border: 2px solid #A34848;
  border-radius: 8px;
  padding: 10px;
  background-color: transparent;
  height: 300px;
}

.friend-list ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.friend-list li {
  background-color: black; 
  color: white; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 20px; 
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 18px; 
}

.pending-requests-list {
  margin-top: 10px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-friend-icon {
  background-color: #a34848;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.remove-friend-icon:hover {
  background-color: #ff5c5c;
}